node_modules/

dist/
worker/
.wrangler/

.env
.env.*
.dev.vars
.dev.vars.*
wrangler.toml
wrangler.jsonc

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
.cargo-ok
package-lock.json
yarn.lock
